.autocomplete {
  position: relative;
}

.autocomplete > ul {
  position: absolute;
  background-color: #fff;
  list-style: none;
  padding: 5px 0;
  min-width: 153px;
  top: 10px;
  left: 2px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

li {
  line-height: 25px;
  cursor: pointer;
}

li:hover {
  background-color: #f5f5f5;
}
